$sm:576px;
$md:768px;
$lg:992px;
$xl:1200px;
$xxl:1400px;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
  background: #f9f9f9;
  min-height: 100vh;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px; 
    display: flex;
    gap: 80px;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
    .logo{
        font-size: 5em;
        color: #359381;
        pointer-events: none;
    }
}

.navigation {
    a{
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
    }

    a:hover{
        background: #359381;
        color: #fff;
    }
    a.active {
        background: #359381;
        color: #fff;
    }
}

.navigation a:hover,.navigation a.active {
    background: #359381;
    color: #fff;
}

.parallax{
  overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 640px;

    #text{
        margin-top: 80px;
        position: absolute;
        font-size: 5em;
        color: #333;
        text-shadow: 2px 2px 4px rgba(0,0,0,.2);
    }

    img{ 
        position: absolute;
        top: 0;
        left:0;    
        width: 100%;
        pointer-events: none;
    }
}
.sec{
    position: relative;
     background-color:#003329;
    margin-top: -60px;
    padding: 100px;

    h2{
        font-size: 3em;
        color: #fff;
        margin-bottom: 10px;
    }

    p{
        font-size: 1em;
        color: #fff;
        font-weight: 300; 
    }
}

.last{
  background-color: #359381;
  h1{
    text-align: center;
    color: #fff;
    padding: 25px;
    font-size:20px;
  };
}

.error{
    position: absolute;
    top:0;
    left: 0;
    background-color: #359381;
    height: 1400px;
    h2{
      text-align: center;
      color: #fff;
      padding: 100px;
      font-size:40px;
    };
  }

// media queries
@media (max-width:1024px) {
    header,.parallax,.sec,.last{
        display: none;
    }
    .error{
        display: block;
    }
}

@media (min-width:1024px){
    body{
        display: block;
    }
    .error{
        display: none;
    }
}

@media (min-width:1100px) {
    .parallax{
        height: 685px;
    }
}
@media (min-width:1200px) {
    .parallax{
        height: 742px;
    }
}
@media (min-width:1300px) {
    .parallax{
        height: 800px;
    }
}

@media (min-width:1411px) {
    header,.parallax,.sec,.last{
        display: none;
    }
    .error{
        display: block;
    }
}